.map-screen-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.map{
    width:90%;
    height: 40vh;
    border: 2px solid #0d58ad;
    margin:20px;
}