.result-container {
  height: 100%;
  padding: 16px;
  color: #0d58ad;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.result-card {
  border-radius: 16px;
  padding: 16px;
  /* border: 3px dashed #0d58ad; */
  background: white;
  color: #0d58ad;
}

.result-card--error {
  background: #111827;
  border-color: #374151;
}

.result-big {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.result-reason {
  margin: 0;
  font-size: 1.05rem;
}

.result-coords {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 0.9rem;
}

.result-img {
  width: 300px;
}
