@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap');


:root {
  font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(63, 63, 63, 0.87);
  background-color: #c7e3ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container{
  width: 100vw;
  height: 100dvh;   
  max-width: 480px; 
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  border-radius: 20px;
  border:3px solid rgb(255, 166, 0);
}

header{
  height: 80px;
  display:flex;
  justify-content: space-between;
  /* border-bottom:2px dashed rgb(255, 166, 0); */
  
  padding-bottom:10px;
}
header button {
  background-color: transparent;
  border:none;
}
.header-logo{
  height:100%;
}
.settings-icon{
  height:30px;
  width:30px;
  margin:10px;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.home-header {
  text-align: center;
  margin-bottom: 24px;
}

.home-headline{
  margin-top: 20px;
  width:80%;
  
}
.home-subheading{
  width:75%;
}
.home-options {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  align-items: center;
  margin-top: 40px;
}

.option-button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
text-decoration: none;
color:white;
  background: #0d58ad;
  border:4px solid #033268;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  width: 300px;
  height:100px;
}

.option-card:hover {
  background: #e2e8f0;
}

.option-icon {
  height:3rem;
  width:3rem;
}

.option-text h2 {
  margin: 0;
}

.option-text p {
  margin: 4px 0 0;
  color: #ffffff;
  font-size:0.9rem;
}

.home-footer {
  text-align: center;
  font-size: 0.85rem;
  color: #777;
  margin-top: 12px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
